.login {
  display: flex;
}

/*   SIGN UP   */

.login__sign-up {
  flex-basis: 42%;
  height: 100vh;
  background-color: #150864;
  background: linear-gradient(to left, rgb(52, 53, 143), #2c207a, #0e0164);
  border-top-right-radius: 350px;
  border-bottom-right-radius: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.sign-up__header {
  margin-bottom: 4rem;
}

.sign-up__header--fwhite {
  color: #fff;
}

.sign-up__header--fslarge {
  font-weight: 600;
  font-size: 1.8rem;
}

.sign-up__header p {
  text-align: center;
}

.sign-up__btn {
  width: 45%;
  height: 5%;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: transparent;
}

.sign-up__btn--white {
  color: #fff;
  border: 1px solid #fff;
}

.sign-up__btn--fsmd {
  font-size: 1.1rem;
  font-weight: 600;
}

.sign-up__btn:hover {
  box-shadow: 0px 0px 13px -1px rgba(255, 255, 255, 1);
}

/*    SIGN IN    */

.login__sign-in {
  flex-basis: 58%;
  width: 60%;
  padding-left: 12rem;
  margin-bottom: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*    SIGN IN HEADER   */

.sign-in__header {
  width: 60%;
  margin-bottom: 3rem;
  text-align: center;
}

.sign-in__header--fslarge {
  font-size: 3.5rem;
  font-weight: 700;
}

/*    SIGN IN WARNING   */

.sign-in__warning {
  width: 60%;
  padding-top: 4rem;
  text-align: center;
  position: relative;
}

.warning__text {
  
}

.warning__text--red {
  color: red;
}

.warning__text--fslarge {
  font-size: 1.5rem;
  font-weight: 700;
}

.warning__icon {
  padding-right: 20px;
  position: absolute;
  transform: translateX(-3.5rem);
}

.warning__icon--red {
  color: red;
}
