.password {
  width: 60%;
  height: 6%;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
  border: 1px solid #eee;
  font-size: 1.2rem;
}

.password__input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: 10px;
  background-color: #eee;
}

.password__input:focus {
  border: 2px solid #150864;
  box-shadow: 0px 0px 13px -1px rgba(21, 8, 100, 1);
}

.password__icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);

  color: #150864;
}