.home {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "lf mn rg";
}

.home--bg-white {
  background-color: #dfe3ee;
}

/*    NAVBAR    */

.home__nav {
  position: fixed;
  width: 100%;
  height: 90px;
  
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.home__nav--brd-btm-grey {
  box-shadow: 0px 1px 13px 1px rgba(208, 208, 208, 1);
  border-bottom: 1px solid #afafaf86;
}

.home__nav--bg-white {
  background-color: #f7f7f7;
}

/*    LEFT SIDE OF NAVBAR    */

.home__nav-left {
  padding-left: 3rem;
}

.home__nav-left img {
  width: 70px;
  height: 60px;
}

/*     RIGHT SIDE OF HEADER     */

.home__nav-right {
  padding-bottom: 1.2rem;
  padding-right: 3rem;
}

.home__nav-right img {
  border-radius: 50%;
  width: 4rem;
  height: auto;
}

.home__nav-right img:hover {
  cursor: pointer;
}

/*    SEARCH BAR     */

.home__search-bar {
  width: 22%;
  height: 100%;
  padding-bottom: 1.2rem;
  position: relative;
}

.search-bar__icon {
  position: absolute;
  top: 19px;
  left: 10px;
}

.search-bar__icon--navy {
  color: #150864;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  padding-left: 2.3rem;
  border-radius: 12px;
}

.search-bar__input--bg-grey {
  background-color: #eeeaea86;
  border: 1px solid #dfdfdf86;
}

.search-bar__input--fsmedium {
  font-size: 1.2rem;
  font-weight: 500;
}

.search-bar__input--bg-white {
  background-color: #f3f3f3;
  border-color: #eeeaea86;
  box-shadow: 0px 0px 7px -1px rgba(66, 68, 90, 1);
}

.search-bar__input--no-bdr-btm {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-bar__user-list {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 7px -1px rgba(66, 68, 90, 1);
}

.search-bar__user-list--bg-white {
  background-color: #f5f5f5;
}

.user-list__line {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0.4rem;
  border-bottom: 1px solid #eeeaea86;
}

.user-list__line:last-child {
  padding-bottom: 2rem;
  border-bottom: none;
}

.user-list__line-img {
  display: inline-block;
  width: 4rem;
  height: auto;
  border-radius: 50%;
}

.user-list__line-text {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 450;
}

.user-list__line-name {
  display: flex;
  gap: 10px;
}

.user-list__line-name p:first-child {
  padding-left: 3rem;
}

/*    LEFT ASIDE  */
.home .left-aside {
  position: fixed;
  margin-top: 90px;
  width: 16.5%;
  padding: 1rem 0;
  margin: 90px 20px 0;
  border-bottom: 1px solid black;
}

/*    RIGHT ASIDE  */

.home .right-aside {
  position: fixed;
  margin-top: 90px;
  width: 16.5%;
}

/*    MAIN    */
.home__main {
  grid-area: mn;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__post {
  margin-bottom: 5rem;
  border-radius: 0.8rem;
  width: 56%;
}

.main__post:last-child {
  margin-bottom: 0;
}

.main__post--bg-white {
  background-color: #f7f7f7;
  box-shadow: 0px 0px 11px 5px rgba(221, 221, 221, 1);
}

.main__post-header {
  padding: 1rem;
  display: flex;
  align-items: center;
 
  border-bottom: 1px solid #dddddd86;
}

.main__post-header__profile-picture {
  display: inline-block;
  width: 4rem;
  height: auto;
  border-radius: 50%;
}


.main__post-header__name {
  display: inline-block;
  padding-left: 1rem;
}

.main__post-header__name-text {

}

.main__post-header__name-text:first-child{
  margin-right: 0.6rem;
}

.main__post-header__name-text--fsmd {
  font-size: 1.2rem;
  font-weight: 500;
}

.main__post-header__name-text--grey {
  color: rgb(65, 59, 59);
}

.main__post-content {
  padding: 2rem 1.5rem;
}

.post-content__text--fsmd {
  font-size: 1.25rem;
  font-weight: 400;
}

.post-content__img-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.post-content__img-container-img {
  display: block;
}

.post-content__img-container-img-one {
  height: auto;
  flex-basis: 100%;
}

.post-content__img-container-img-two {
  flex-basis: 50%;  
  height: auto;
}

.post-content__img-container-img-three-first-row {
  flex-basis: 50%;
  height: auto;
}

.post-content__img-container-img-three-second-row {
  flex-basis: 100%;
  height: auto;
  aspect-ratio: 4 / 2;
}

.post-content__img-container-img-four {
  height: auto;
  flex-basis: 50%;
}

.post-content_img-container__more {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.425);
}

.post-content_img-container__more-text {
  font-size: 1.5rem;
}

.main__post-footer {
  border-top: 1px solid #dddddd86;
}