.login {
  display: flex;
}

/*   SIGN UP   */

.login-sign-up {
  flex-basis: 42%;
  height: 100vh;
  background-color: #150864;
  background: linear-gradient(to left, rgb(52, 53, 143), #2c207a, #0e0164);
  border-top-right-radius: 350px;
  border-bottom-right-radius: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}

.login-sign-up-header {
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.login-sign-up-header p {
  text-align: center;
}

.login-sign-up button {
  width: 45%;
  height: 5%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.login-sign-up button:hover {
  box-shadow: 0px 0px 13px -1px rgba(255, 255, 255, 1);
}

/*    SIGN IN    */

.login-form {
  flex-basis: 58%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 12rem;
  margin-bottom: 4rem;
}

.login-form .input-container,
.login-form button,
.login-form-header {
  width: 60%;
}

.login-form .input-container {
  height: 6%;
  border: 1px solid #eee;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  position: relative;
}

.login-form .input-container input {
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding-left: 1rem;
  border-radius: 10px;
}

.login-form .input-container input:focus {
  border: 2px solid #150864;
  box-shadow: 0px 0px 13px -1px rgba(21, 8, 100, 1);
}

.login-form button {
  margin-top: 1rem;
  height: 7%;
  border: 1px solid #150864;
  border-radius: 15px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  background-color: #150864;
  opacity: 0.92;
}

.login-form button:hover {
  box-shadow: 0px 0px 20px -4px rgba(21, 8, 100, 1);
  opacity: 0.9;
}

.login-form-header {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
}

.login-form .warning {
  font-size: 1.5rem;
  font-weight: 700;
  color: red;
  width: 60%;
  text-align: center;
  padding-top: 4rem;
}

.login-form-input-icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #150864;
}

.login-form .warning-icon {
  padding-right: 20px;
}
