.home {
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "lf mn rg";
}

.home--bg-white {
  background-color: #dfe3ee;
}

/*    NAVBAR    */

.home__nav {
  position: fixed;
  width: 100%;
  height: 65px;

  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.home__nav--brd-btm-grey {
  box-shadow: 0px 1px 13px 1px rgba(208, 208, 208, 1);
  border-bottom: 1px solid #afafaf86;
}

.home__nav--bg-white {
  background-color: #f7f7f7;
}

/*    LEFT SIDE OF NAVBAR    */

.nav__left-side {
  padding-left: 3rem;
}


/*     RIGHT SIDE OF NAVBAR     */

.nav__right-side {
  padding-right: 3rem;
  padding-bottom: 10px;
}

.nav__right-side__img {
  border-radius: 50%;
  width: 2.5rem;
  height: auto;
}

.nav__right-side__img:hover {
  cursor: pointer;
}

/*    SEARCH BAR     */

.home__search-bar {
  width: 22%;
  height: 100%;
  padding-bottom: 0.8rem;
  position: relative;
}

.search-bar__icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.search-bar__icon--navy {
  color: #150864;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  padding-left: 2.3rem;
  border-radius: 12px;
}

.search-bar__input--bg-grey {
  background-color: #eeeaea86;
  border: 1px solid #dfdfdf86;
}

.search-bar__input--fsmd {
  font-size: 1.2rem;
  font-weight: 500;
}

.search-bar__input--bg-white {
  background-color: #f3f3f3;
  border-color: #eeeaea86;
  box-shadow: 0px 0px 7px -1px rgba(66, 68, 90, 1);
}

.search-bar__input--no-bdr-btm {
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-bar__user-list {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 7px -1px rgba(66, 68, 90, 1);
}

.search-bar__user-list--bg-white {
  background-color: #f5f5f5;
}

.user-list__line {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0.4rem;
  border-bottom: 1px solid #eeeaea86;
}

.user-list__line:hover {
  background-color: #88888886;
  opacity: 80%;
}

.user-list__line:last-child {
  padding-bottom: 2rem;
  border-bottom: none;
}

.user-list__line__img {
  display: inline-block;
  width: 4rem;
  height: auto;
  border-radius: 50%;
}


.user-list__line__name {
  display: flex;
  gap: 10px;
}

.user-list__line__name p:first-child {
  padding-left: 3rem;
}

.line__name__text {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 450;
}

/*    LEFT ASIDE  */

.home__left-aside {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 65px;
  width: 16.5%;
  padding-left: 1.8rem;
}

.left-aside__user-line {
  display: flex;
  margin-top: 5rem;
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid #79797986;
}

.left-aside__user-line:hover {
  cursor: pointer;
  background-color: #a7a7a786;
  border-radius: 5px;
  border-bottom: none;
}

.left-aside__user-line__profile-picture {
  display: inline;
  border-radius: 50%;
  width: 14%;
  height: auto;
}

.left-aside__user-line__name {
  align-self: center;
  margin-left: 1rem;
}

.left-aside__user-line__name__first-name {
  margin-right: 0.3rem;
}

.left-aside__user-line__name__first-name--fsmd {
  font-size: 1rem;
  font-weight: 500;
}

.left-aside__user-line__name__last-name {
}

.left-aside__user-line__name__last-name--fsmd {
  font-size: 1rem;
  font-weight: 500;
}

.left-aside__find-friends {
  margin-top: 1rem;
  padding: 0.8rem 0.5rem;
  border-bottom: 1px solid #79797986;
  display: flex;
}

.left-aside__find-friends:hover {
  cursor: pointer;
  background-color: #a7a7a786;
  border-radius: 5px;
  border-bottom: none;
}

.left-aside__find-friends__text {
  align-self: center;
  margin-left: 1rem;
}

.left-aside__find-friends__text--fsmd {
  font-size: 1rem;
  font-weight: 500;
}



/*    RIGHT ASIDE  */

.home__right-aside {
  position: fixed;
  top: 0;
  right: 0;
  margin: 65px 2rem 0 0;
  width: 16.5%;
}

.right-aside__friends {
  margin-top: 6rem;
  padding-right: 1.9rem;
}

.friends__header {
  border-bottom: 1px solid #79797986;
  margin-bottom: 1.4rem;
}

.friends__header--fslg {
  font-size: 1.5rem;
  font-weight: 600;
}

.friends__line {
  display: flex;
  padding: 0.8rem 0.5rem;
}

.friends__line:hover {
  cursor: pointer;
  border-bottom: 3.5px solid #291a8d;
}

.friends__line__profile-picture {
  width: 15%;
  height: auto;
  border-radius: 50%;
}

.friends__line__name {
  align-self: center;
  margin-left: 1.2rem;
}

.friends__line__name__first-name {
  margin-right: 0.4rem;
}

.friends__line__name__first-name--fsmd {
  font-size: 1.1rem;
  font-weight: 500;
}

.friends__line__name__last-name--fsmd {
  font-size: 1.1rem;
  font-weight: 500;
}

/*    MAIN    */

.home__main {
  grid-area: mn;
  padding: 3.5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

