.username {
  width: 60%;
  height: 6%;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}

.username--fsmd {
  font-size: 1.2rem;
}

.username--border-white {
  border: 1px solid #eee;
}

.username__input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border-radius: 10px;
}

.username__input:focus {
  border: 2px solid #150864;
  box-shadow: 0px 0px 13px -1px rgba(21, 8, 100, 1);
}

.username__input--bg-white {
  background-color: #eee;
}

.username__icon {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.username__icon--navy {
  color: #150864;
}
